<div class="section dark " id="portfolio" style="padding-top:55px; padding-bottom:0px; background-color:#505050">
                            <div class="section_wrapper clearfix">
                                <div class="items_group clearfix">
                                    <!-- Page Title-->
                                    <!-- One full width row-->
                                    <div class="column one column_fancy_heading ">
                                        <div class="fancy_heading fancy_heading_icon">
                                            <h2 class="title">Portfolio</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section full-width " style="padding-top:0px; padding-bottom:0px; background-color:#505050">
                            <div class="section_wrapper clearfix">
                                <div class="items_group clearfix">
                                    <!-- One full width row-->
                                    <div class="column one column_portfolio_grid ">
                                        <ul class="portfolio_grid ">
                                            <li>
                                                <div class="image_frame scale-with-grid">
                                                    <div class="image_wrapper">
                                                        <a href="#">
                                                            <div class="mask"></div><%= image_tag "portfolio_1-640x500.jpg", size: "640x500", class: "scale-with-grid wp-post-image" %>
                                                        </a>
                                                        <div class="image_links triple">
                                                            <a href="content/resume/images/portfolio_1-1200x800.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a target="_blank" href="http://themeforest.net/" class="external"><i class="icon-forward"></i></a><a href="#" class="link"><i class="icon-link"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="image_frame scale-with-grid">
                                                    <div class="image_wrapper">
                                                        <a href="#">
                                                            <div class="mask"></div><%= image_tag "portfolio_2-640x500.jpg", size: "640x500", class:"scale-with-grid wp-post-image" %>
                                                    
                                                        </a>
                                                        <div class="image_links triple">
                                                            <a href="content/resume/images/portfolio_2-1200x800.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a target="_blank" href="http://themeforest.net/item/betheme-html-responsive-multipurpose-template/13925633?ref=beantownthemes" class="external"><i class="icon-forward"></i></a><a href="#" class="link"><i class="icon-link"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="image_frame scale-with-grid">
                                                    <div class="image_wrapper">
                                                        <a href="#">
                                                            <div class="mask"></div><%= image_tag "portfolio_2-640x500.jpg", size: "640x500", class:"scale-with-grid wp-post-image" %>
                                                        </a>
                                                        <div class="image_links triple">
                                                            <a href="content/resume/images/portfolio_3-1200x800.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a target="_blank" href="http://envato.com/" class="external"><i class="icon-forward"></i></a><a href="#" class="link"><i class="icon-link"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="image_frame scale-with-grid">
                                                    <div class="image_wrapper">
                                                        <a href="#">
                                                            <div class="mask"></div><%= image_tag "portfolio_2-640x500.jpg", size: "640x500", class:"scale-with-grid wp-post-image" %>
                                                        </a>
                                                        <div class="image_links double">
                                                            <a href="content/resume/images/portfolio_4-1200x800.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="#" class="link"><i class="icon-link"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="image_frame scale-with-grid">
                                                    <div class="image_wrapper">
                                                        <a href="#">
                                                            <div class="mask"></div><%= image_tag "portfolio_2-640x500.jpg", size: "640x500", class:"scale-with-grid wp-post-image" %>
                                                        </a>
                                                        <div class="image_links double">
                                                            <a href="content/resume/images/portfolio_5-1200x800.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="#" class="link"><i class="icon-link"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="image_frame scale-with-grid">
                                                    <div class="image_wrapper">
                                                        <a href="#">
                                                            <div class="mask"></div><%= image_tag "portfolio_2-640x500.jpg", size: "640x500", class:"scale-with-grid wp-post-image" %>
                                                        </a>
                                                        <div class="image_links double">
                                                            <a href="content/resume/images/portfolio_6-1200x800.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="#" class="link"><i class="icon-link"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="image_frame scale-with-grid">
                                                    <div class="image_wrapper">
                                                        <a href="#">
                                                            <div class="mask"></div><%= image_tag "portfolio_2-640x500.jpg", size: "640x500", class:"scale-with-grid wp-post-image" %>
                                                        </a>
                                                        <div class="image_links triple">
                                                            <%= image_tag "portfolio_7-1200x800.jpg", class:"zoom", class:"icon-search" %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="image_frame scale-with-grid">
                                                    <div class="image_wrapper">
                                                        <a href="#">
                                                            <div class="mask"></div><%= image_tag "portfolio_2-640x500.jpg", size: "640x500", class:"scale-with-grid wp-post-image" %>
                                                        </a>
                                                        <div class="image_links double">
                                                            <a <%= image_tag "portfolio_8-1200x800.jpg", class:"zoom" %>rel="prettyphoto"><i class="icon-search"></i></a><a href="#" class="link"><i class="icon-link"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>